# Microsoft Entra / Azure AD OAuth2 settings
OAUTH_CLIENT_ID="your-client-id"
OAUTH_CLIENT_SECRET="your-client-secret"
OAUTH_TENANT_ID="your-tenant-id"

# Microsoft Graph API settings
GRAPH_API_SCOPE="https://graph.microsoft.com/.default"
GRAPH_API_ENDPOINT="https://graph.microsoft.com/v1.0"

# SMTP relay settings
SMTP_HOSTNAME="smtp-oauth-relay.local"
SERVER_GREATING="Welcome to my SMTP server"

# Public Port Config
DOCKER_PORT="" # If set, then expose this port, otherwise don't expose any
# If port is not exposed, then containers need to have the SMTP_DOCKER_NETWORK
# added to them to allow access.
# PLEASE ENSURE THIS PORT IS BLOCKED FROM PUBLIC ACCESS! or you will be flagged as an open relay, and thats BAD!

# Logging
LOG_LEVEL="info"

# Disable TLS/SSL SMTP for clients
REQUIRE_TLS=false
TLS_SOURCE="off"

# Docker Settings
SMTP_DOCKER_NAME="smtp-relay"
SMTP_DOCKER_NETWORK="smtp"

# SMTP-oAuth-Relay Config Options
# Configuration
#LOG_LEVEL
#    name='LOG_LEVEL',
#    default='WARNING',
#    valid_values=['DEBUG', 'INFO', 'WARNING', 'ERROR', 'CRITICAL']

#TLS_SOURCE
#    name='TLS_SOURCE',
#    default='file',
#    valid_values=['off', 'file', 'keyvault'],

#REQUIRE_TLS
#    name='REQUIRE_TLS',
#    default='true',
#    valid_values=['true', 'false'],

#SERVER_GREETING
#    name='SERVER_GREETING',
#    default='Microsoft Graph SMTP OAuth Relay'

#TLS_CERT_FILEPATH
#    name='TLS_CERT_FILEPATH',
#    default='certs/cert.pem'

#TLS_KEY_FILEPATH
#    name='TLS_KEY_FILEPATH',
#    default='certs/key.pem'

#TLS_CIPHER_SUITE
#    name='TLS_CIPHER_SUITE',
#    default=None # Make it optional

#USERNAME_DELIMITER
#    name='USERNAME_DELIMITER',
#    default='@',
#    valid_values=['@', ':', '|']

#AZURE_KEY_VAULT_URL
#    name='AZURE_KEY_VAULT_URL',
#    default=None,  # Make it optional

#AZURE_KEY_VAULT_CERT_NAME
#    name='AZURE_KEY_VAULT_CERT_NAME',
#    default=None,  # Make it optional

#AZURE_TABLES_URL
#    name='AZURE_TABLES_URL',
#    default=None,  # Make it optional

#AZURE_TABLES_PARTITION_KEY
#    name='AZURE_TABLES_PARTITION_KEY',
#    default='user'

